@media screen and (max-width: 768px) {
  .lead__title {
    max-width: 530px;
    font-size: 75px;
    line-height: 79px;
  }

  .lead__subtitle {
    margin: 25px 0 30px;
  }

  .lead__image {
    max-width: 768px;
    min-height: 480px;
  }

  .intro {
    max-width: 720px;
    margin: 90px auto 64px;
  }

  .intro__title {
    max-width: 707px;
    font-size: 45px;
    line-height: 49px;
    margin: 0 0 50px;
  }

  .photo-grid {
    max-width: 720px;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
  }
  .photo__grid_item {
    max-width: 352px;
    min-height: 264px;
  }

  .places {
    max-width: 720px;
    margin: auto;
  }

  .place {
    grid-template-columns: 340px 1fr;
    gap: 48px 28px;
  }

  .place__title {
    max-width: 340px;
    font-size: 42px;
    line-height: 46px;
    margin: 110px 0 0;
  }
  .place__paragraph {
    font-size: 16px;
    line-height: 163%;
  }
  .place__image {
    max-width: 340px;
    min-height: 340px;
  }
}

@media screen and (max-width: 520px) {
  .photo-grid {
    max-width: 520px;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
  }

  .photo__grid_item {
    max-width: 288px;
    min-height: 216px;
  }

  .places {
    max-width: 520px;
  }

  .place {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .place__title {
    margin-top: 62px;
  }

  .place__website {
    margin: 30px 0;
  }
}

@media screen and (max-width: 320px) {
  .lead__title {
    max-width: 228px;
    margin-top: 50px;
    font-size: 40px;
    line-height: 44px;
  }

  .lead__subtitle {
    font-size: 16px;
    line-height: 20px;
    margin: 16px 0 40px;
  }

  .lead__image {
    max-width: 320px;
    min-height: 200px;
  }

  .intro {
    max-width: 288px;
    display: flex;
    flex-direction: column;
    margin: 64px auto 38px;
  }

  .intro__title {
    max-width: 288px;
    font-size: 32px;
    line-height: 35px;
    margin: 0px;
  }

  .intro__content {
    align-items: end;
  }

  .intro__description {
    line-height: 30px;
    margin: 40px 0 10px;
  }

  .intro__text {
    line-height: 163%;
  }

  .photo-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
  }

  .place {
    display: block;
  }

  .place__title {
    font-size: 32px;
    line-height: 35px;
    margin: 73px 16px 30px;
  }

  .place__website {
    margin: 0 16px 30px;
  }

  .place__image {
    max-width: 320px;
    min-height: 320px;
    box-shadow: none;
  }
  .place__paragraph {
    font-size: 16px;
    line-height: 163%;
    margin: 30px 16px;
  }

  .place__button {
    margin: 0px 16px;
  }

  .footer {
    margin-top: 65px;
  }
}
