@media screen and (max-width: 768px) {
  .lead__title {
    max-width: 530px;
    width: 100%;
    font-size: 75px;
    font-weight: 900;
    line-height: 79px;
  }

  .lead__subtitle {
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
  }

  .lead__image {
    max-width: 768px;
    width: 100%;
    min-height: 480px;
    height: 100%;
  }

  .intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 90px auto 64px;
  }

  .intro__title {
    max-width: 707px;
    width: 100%;
    font-size: 45px;
    font-weight: 900;
    line-height: 49px;
    text-align: left;
  }

  .intro__description {
    max-width: 720px;
    width: 100%;
    font-size: 24px;
    font-weight: 400;
    line-height: 34px;
  }

  .intro__copyright {
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
    margin: 0px;
  }

  .intro__content {
    max-width: 720px;
    width: 100%;
    text-align: right;
  }
}

@media screen and (max-width: 320px) {
  .lead__title {
    max-width: 228px;
    width: 100%;
    margin-top: 50px;
    font-size: 40px;
    font-weight: 900;
    line-height: 44px;
  }

  .lead__subtitle {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    margin: 16px 0 40px;
  }

  .lead__image {
    max-width: 320px;
    width: 100%;
    min-height: 200px;
    height: 100%;
  }

  .intro {
    max-width: 288px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 64px auto 64px;
  }

  .intro__title {
    max-width: 288px;
    width: 100%;
    font-size: 32px;
    font-weight: 900;
    line-height: 35px;
  }
}

@media screen and (max-width: 768px) {
  .places {
    max-width: 720px;
    width: 100%;
    margin: auto;
  }

  .places_land {
    display: grid;
    grid-template-columns: 340px 1fr;
    grid-template-rows: auto auto 1fr;
    gap: 48px 28px;
    grid-template-areas: "title artist" "image description" "button description";
  }

  .places__photos {
    max-width: 352px;
    width: 100%;
    min-height: 264px;
    height: 100%;
  }

  .places__title {
    grid-area: title;
    max-width: 340px;
    width: 100%;
    font-size: 42px;
    font-weight: 900;
    line-height: 46px;
    margin: 110px 0 0;
  }

  .places__subtitle-title {
    color: #aaaaaa;
    font-size: 12px;
    font-weight: 400;
    line-height: 14.52px;
    letter-spacing: 0.12em;
    padding-bottom: 8px;
  }
  .places__subtitle {
    max-width: 352px;
    width: 100%;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    margin: 0px;
  }
  .places__text {
    max-width: 352px;
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    line-height: 163%;
  }

  .places__photo_land {
    grid-area: image;
    max-width: 340px;
    width: 100%;
    min-height: 340px;
    height: 100%;
  }
}
@media screen and (max-width: 320px) {
  .places {
    max-width: 320px;
    width: 100%;
    margin: auto;
  }

  .places_land {
    display: flex;
    flex-direction: column;
    margin: auto;
  }

  .places__photos {
    max-width: 288px;
    width: 100%;
    min-height: 216px;
    height: 100%;
    margin: auto;
  }

  .places__title {
    grid-area: title;
    max-width: 340px;
    width: 100%;
    font-size: 32px;
    font-weight: 900;
    line-height: 35px;
    margin: 110px 0 0;
  }

  .places__artist {
    grid-area: artist;
  }

  .places__description {
    grid-area: description;
  }
  .places__subtitle-title {
    color: #aaaaaa;
    font-size: 12px;
    font-weight: 400;
    line-height: 14.52px;
    letter-spacing: 0.12em;
    padding-bottom: 8px;
  }
  .places__subtitle {
    max-width: 352px;
    width: 100%;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    margin: 0px;
  }
  .places__text {
    max-width: 352px;
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    line-height: 163%;
  }

  .places__photo_land {
    grid-area: image;
    max-width: 320px;
    width: 100%;
    min-height: 320px;
    height: 100%;
  }

  .places__button {
    grid-area: button;
  }
}
